:root{
    --primary-color: #e74c3c;
    --secondary-color: #8e44ad;
    --background-color: #f0f2f5;
    --text-color: #333;
    --text-color-dark: #e0e0e0;
    --tarea-color-1: #3498db;/*Prioridad baja*/
    --tarea-color-2: #f5d402;/*Prioridad media*/
    --primary-color-dark: #c9583a;
}