@import './colores.css';

/* Prioridades de las tareas */
.todo-priority-low {
    border-left: 5px solid var(--tarea-color-1);
}

.todo-priority-medium {
    border-left: 5px solid var(--tarea-color-2);
}

.todo-priority-high {
    border-left: 5px solid var(--primary-color);
}
/* Modo oscuro */
.App.dark .todo-priority-low {
    border-left: 5px solid var(--tarea-color-1); /* mismo color, se ve sobre fondo oscuro */
}

.App.dark .todo-priority-medium {
    border-left: 5px solid var(--tarea-color-2);
}

.App.dark .todo-priority-high {
    border-left: 5px solid var(--primary-color);
}